{% extends '@web/layout/base.twig' %}

{% block content %}
    <div class="container">
        {% for hotel in hotels %}
            <div class="hotel-fragment">
                <div class="row">
                    <figure class="col-sm-6">
                        <div class="hotel-content">
                            <div class="hotel-description">
                                <h2>{{ hotel.name }}</h2>
                                {% include '@web/components/star-rating.twig' with { 'rating' : hotel.rating } %}
                                ({{ hotel.reviews|length }} reviews)
                                <p>{{ hotel.description }}</p>
                                <div class="hotel-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modal-review" data-id="{{ hotel.id }}"
                                            data-name="{{ hotel.name }}">Add review
                                    </button>
                                </div>
                            </div>
                        </div>
                    </figure>

                    <figure class="col-sm-6">
                        <div class="hotel-picture" style="background-image: url({{ hotel.image|uploads }});">
                        </div>
                    </figure>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include '@web/components/modal-review.twig' %}
{% endblock %}